#main-page h1 {
    color: #eee;
    font-family: "Matrix-Mono";
    -webkit-text-stroke: 2px rgb(5, 5, 20);
    font-size: 72px;
}

#main-page #content {
    width: 540px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

#main-page #background {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(5, 5, 20);
    display: flex;
    justify-content: center;
    align-items: center;
}

#background img {
    height: 100%;
    mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);

}