@font-face {
    font-family: "Enchanted Land";
    src:
      local("Enchanted Land"),
      url("assets/fonts/Enchanted\ Land.otf") format("opentype")
}

@font-face {
    font-family: "Heavitas";
    src:
      local("Heavitas"),
      url("assets/fonts/Heavitas.ttf") format("truetype")
}

@font-face {
    font-family: "Nexa-Light";
    src: url("assets/fonts/Nexa-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Nexa-Heavy";
    src: url("assets/fonts/Nexa-Heavy.ttf") format("truetype");
}

@font-face {
    font-family: "Matrix-Mono";
    src: url("assets/fonts/Matrix_Mono.ttf") format("truetype");
}

.primary-font {
    font-family: "Enchanted Land";
}

.secondary-font {
    font-family: "Nexa-Light";
}

img {
    image-rendering: pixelated;
    pointer-events: none;
}
